<div class="container">
  <button data-bs-toggle="modal" id="btn" data-bs-target="#AddModal" class="add">Add</button>
  <div class="cards">
    <div *ngFor="let student of students" class="card">
      <div class="avatar">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <h1>{{ student.name }}</h1>
      <p>Age: {{ student.age }}</p>
      <p>Email Id: {{ student.email }}</p>
      <div class="social">
        <a (click)="deleteStudent(student.id)" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        <a (click)="setFormValues(student, editform)" data-bs-toggle="modal" id="btn" data-bs-target="#exampleModal"
          href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>



<!-- ADD Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="addform" #addform="ngForm" (ngSubmit)="addStudent(addform)">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" ngModel name="name" id="name" placeholder="enter student name" required>
          <input type="email" ngModel name="email" id="email" placeholder="enter student email" required>
          <input type="number" ngModel name="age" id="age" placeholder="enter student age" required>
        </div>
        <div class="modal-footer">
          <button type="button" id="close-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input class="add" [disabled]="addform.invalid" type="submit" value="Add">
        </div>
      </div>
    </form>
  </div>
</div>
<!-- update modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="addform" #editform="ngForm">
          <input type="text" ngModel name="name" id="name" placeholder="enter student name" required>
          <input type="email" ngModel name="email" id="email" placeholder="enter student email" required>
          <input type="number" ngModel name="age" id="age" placeholder="enter student age" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-edit-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="updateStudent(id,editform.value)" type="button" class="btn btn-primary">Update
          student</button>
      </div>
    </div>
  </div>
</div>